body {
	text-align: center;
    margin:0;
    padding:0;
}

#content_container {
    padding-bottom:3em;
	padding-top: 120px;
}

#header {
	position: fixed;
	top: 0px;
    background:#efefef;
    text-align:center;
    padding:5px;
	width: 100%;
}

#footer {
    position:fixed;
    bottom:0px;
    background:#efefef;
    text-align:center;
    padding:10px;
    width:100%;
}

.post {
	border: solid 1px black;
	margin: 20px;
	background-color: rgba(0,0,0,0.2);
}

.topright {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}